@charset "UTF-8";
@font-face {
    font-family: money;
    src: url('Pocket\ Money.ttf') format('truetype');
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    background-image: linear-gradient(to bottom, #FFD9DA, #bb9596);
}
main{
    background-color: #fff;
    border-radius: 1.25em;
    box-shadow: 0.5em 0.5em 1em #2e294ea4;
    width: 25em;
    padding: 1em;
    margin: auto;
}
h1{
    color: #1B998B;
    text-shadow: 0.025em 0.025em 0.1em #177066cb;
    font: normal 3em money;
    text-align:center;
}
h2{
    color: #C5D86D;
}
p{
    text-align:justify;
    text-indent: 1.5em;
}